/*! Building Interfaces HTML5 template */
/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

strong {
 font-weight: 400;  
    font-style: italic;
}

.column {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.row {
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.bits-wrapper {
 width: 100vw; 
    justify-content: flex-start;
    padding-left: 5em;
}

.issue-button {
 position: fixed;
    top: 1em;
    right: 1em;
    z-index: 5;
}

.issue-button img {
 height: 50px;   
}

#overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #223CFF;
    opacity: .85;
    transition: 1s;
    z-index: 4;
}

#overlay div {
    margin: 5% 10%;
    color: #fff;
    font-size: 16px;
}

#show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 7em;
    height: 4.5em;
    background: #223CFF;
    transition: 1s;
    z-index: 5;
}

#reps-list {
display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
}

#show img {
    width: 50%;
}

#map-section {
    background: #69C8C9;
    height: 100vh;
}

#hovers {
    width: 100vw;
    height: 50px;
 align-items: flex-start;
}

#hovers h3{
 color: #fff;
}

.bar-title {
    color: #fff;
    float: left;
}

.hide-show {
 width: 30px;   
    margin: 3em 1.5em;
}

.hide {
 opacity: .5;
    margin-left: 2em;
    margin-right: 0;
}

#fl-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 70vh;
    padding: 1em;
}
/*
.fl-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin-right: 1em;
}
*/
.fl-base img {
    width: 100%;
    opacity: .4;
    position: relative;
    z-index: 0;
}

/*
#base-only img {
    opacity: 1;
}
*/

#fl-sea-level img {
    width: 100%;
    position: absolute;
    z-index: 2;
}

#fl-districts svg {
    width: 100%;
    position: absolute;
    z-index: 2;
}

.fl-map {
 position: relative;
  
}

#district-wrapper {
    visibility: hidden;
    display: none;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

#district-content {
    margin-top: 1em;
    color: #000;
    background: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#data-breakdown {
    display: flex;
    flex-direction: column;
}

#stance-data {
 width: 100vw;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 background-color: #fff; 
    text-align: left;
}

#votes {
 width: 70%; 
    margin-top: 2%;
    height: 3.5em;
}

.pos-vote {
 background: #69C8C9; 
}

.neg-vote {
 background: #000;
}

.na-vote {
 background: #DDDDDD;
}

ul {
            display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
         width: 7%;
     opacity: .8;
     transition: .5s;
    margin: .1em;
    height: 3em;
}

li:hover {
     opacity: 1;
    width: 8%;
    height: 3.5em;
}

#legislation {
    margin: 2% 0;
  width: 90%;
}

#leg {
    visibility: hidden;
    position: relative;
    height: 25px;
    border-radius: 27px 27px 27px 27px;
-moz-border-radius: 27px 27px 27px 27px;
-webkit-border-radius: 27px 27px 27px 27px;
border: 0px solid #000000;
}
    
.stretch {
 width: 90%;   
}

#voted {
 margin: 1em 0;
    color: #EE2325;
}

#rep-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
 padding: 0 3em;
    min-width: 10em;
    max-width: 300px;
    opacity: 1;
}

#rep-photo img {
    width: 100%;
}

#district-highlight {
 min-width: 10em;
    max-width: 300px;   
}

.district-mod {
 width: 25%;
    padding: 3em 3em 3em 0;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
    margin: 0 0 .5em 0;
}

#district-rep{
 font-size: 1.25em;   
}

i {
    font-weight: 400;
    margin: 0;
}

h3 {
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}

#tweet {
    padding: 1em;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Mobile */

@media only screen and (max-width: 600px) {}
/* Intermediate */

@media only screen and (max-width: 960px) {}
/* Wide */

@media only screen and (min-width: 1140px) {}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}