svg path {
    fill: #fff;
    fill-opacity: .01;
    stroke-opacity: 1;
    transition: .25s;
    stroke: #77ACBF;
    stroke-width: 1.25;
}



svg path:hover {
    fill: #77ACBF;
    fill-opacity: .5;
}