body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 14.5px;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}

h1,
footer p,
.overlay-content p {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

footer p {
    font-size: 2em;
    text-align: center;
    line-height: .85em;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D70F42;
    color: #FAFAFA;
}

.email-button:hover {
    font-style: italic;
}

div.cushion {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-arrow {
    padding: 30px 0 15px;
    height: 30px;
    transform: translate(-50%, 0);
    z-index: 5;
}

.myWrap {
    width: 100%;
    height: 85vh;
    min-height: 500px;
}

.backstretch-div {
    width: 100%;
    height: 100%;
    position: relative;
}

.left-arrow {
    position: absolute;
    left: 1em;
    top: 50%;
    width: 30px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 1em;
    width: 30px;
}

.descriptors-container {
    opacity: .3;
    transition: .25s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1200px;
    height: 70vh;
    min-height: 500px;
    margin-bottom: 1em;
}

.first {
    margin-top: 5em;
}

.descriptors {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptors.text {
    padding-top: 1em;
}

.descriptors p,
.descriptors h1 {
    width: 100%;
    text-align: left;
}

div.img {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

div img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
}

nav {
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding-bottom: .25em;
}

.home-button {
    font-family: 'Raleway', sans-serif;
    padding: .5em 2em;
    font-size: 18px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

svg.contact-bubble {
    width: 35px;
    padding: .5em 2.5em;
    align-self: flex-end;
}

.button,
a {
    cursor: pointer;
}

.overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .75);
    display: none;
}

.overlay-content {
    padding: 2em 1.5em 2.5em;
    width: 50%;
    height: auto;
    background-color: #D70F42;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.close-overlay-button {
    height: 20px;
    align-self: center;
}

.close-overlay-button:hover {
 transform: rotate(-22.5deg); 
    transition: .25s;
}

.close-overlay-button path {
 fill: #FFFFFF;   
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}